html {
  background-color: whitesmoke;
  
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 231, 220);
  height: 100vh;
}

h1 {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin: 0;
}

/* .body {
  display: flex;
  margin: 10px;
  box-sizing: border-box;
} */

.icon-logo {
    height: 90px;
    width: 90px;
    object-fit: contain;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;

  padding: 20px;
}

.container {
  width: 100%;
}

.barraPesquisa {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  width: 100%;
}

#display {
  height: 40px;
  flex: 1;
  box-sizing: border-box;
  padding: 0 10px;
  /* grid-column: 1 / 4; */
  /* width: 80%; */
}

#insertButtom {
  height: 40px;
  width: 70px;
  /* grid-column: 5 / 6; */
}

.listBloxk {
  
}

.itemsIndiv {
  
}

.items {
  background-color: aquamarine;
  border-radius: 4px;
  width: 90%;
  box-sizing: border-box;
  
}